<div class="pricing-container">
    <a class="navbar-brand font-weight-bold text-white mr-4" [routerLink]="['/dashboard']">
   <img src="pk-logo-1.png" alt="PK Investing" width="100" height="50" class="d-inline-block align-top mr-2">
  </a>
  <h2 class="pricing-title">Pricing Plans (INR)</h2>
  <div class="plans">
    <div class="plan-card">
      <h3>Basic Plan</h3>
      <p class="price">₹251</p>
      <ul>
        <li>✔ FREE Live Option Chain</li>
        <li>✔ Historical Data</li>
        <li>✔ Live Class (Sunday)</li>
        <li>✔ Recorded Class</li>
        <li><strong>✔ 30 day's Validity</strong></li>
      </ul>
      <button class="pay-button">Pay Now</button>
    </div>

    <div class="plan-card">
      <h3>Standard Plan</h3>
      <p class="price">₹701</p>
      <ul>
        <li>✔ FREE Live Option Chain</li>
        <li>✔ Historical Data</li>
        <li>✔ Live Class (Sunday)</li>
        <li>✔ Recorded Class</li>
        <li><strong>✔ 90 day's Validity</strong></li>
      </ul>
      <button class="pay-button">Pay Now</button>
    </div>

    <div class="plan-card highlight">
      <h3>Gold Plan</h3>
      <p class="price">₹1501</p>
      <ul>
        <li>✔ FREE Live Option Chain</li>
        <li>✔ Historical Data</li>
        <li>✔ Live Class (Sunday)</li>
        <li>✔ Recorded Class</li>
        <li>✔ 6 Month Validity</li>
        <li><strong>✔ 15 day's Extra Validity</strong></li>
      </ul>
      <button class="pay-button">Pay Now</button>
    </div>

    <div class="plan-card">
      <h3>Premium Plan</h3>
      <p class="price">₹3001</p>
      <ul>
        <li>✔ FREE Live Option Chain</li>
        <li>✔ Historical Data</li>
        <li>✔ Live Class (Sunday)</li>
        <li>✔ Recorded Class</li>
        <li>✔ 1 Year Validity</li>
        <li><strong>✔ 30 day's Extra Validity</strong></li>
      </ul>
      <button class="pay-button">Pay Now</button>
    </div>
  </div>
</div>