<div class="dashboard-container">
    <aside class="sidebar">
        <div class="logo-section">
            <img src="pk-logo-1.png" alt="Delta Option Chain Logo" class="logo" />
            <!-- <h1 class="title">Crypto Option Chain</h1> -->
        </div>
        <nav>
            <ul>
                <!-- <li class="left-menu"><a routerLink="/dashboard" routerLinkActive="active"><i class="icon">📊</i> Dashboard</a></li> -->
                <li class="left-menu">
                    <a [routerLink]="['/dashboard']" class="flex items-center px-4 py-2 rounded bg-blue-600 sidebar-item">
                        <i class="ph ph-gauge mr-2">📊</i>
                        <span class="sidebar-text">Dashboard</span>
                    </a>
                </li>
                <!-- <li class="left-menu"><a routerLink="/price"><i class="icon">💰</i> Price</a></li> -->
                <li class="left-menu">
                    <a [routerLink]="['/price']"
                        class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">💰</i>
                        <span class="sidebar-text">Price</span>
                    </a>
                </li>

                <!-- <li class="left-menu"><a routerLink="/profile"><i class="icon">👤</i> Profile</a></li> -->
                <li class="left-menu">
                    <a [routerLink]="['/profile']"
                        class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">👤</i><span class="sidebar-text">Profile</span>
                    </a>
                </li>
                <!--  <li class="left-menu"><a routerLink="/youtuber"><i class="icon">🎥</i> Youtuber</a></li> -->
                <li class="left-menu">
                    <a href="price" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">🎥</i><span class="sidebar-text">Youtuber</span>
                    </a>
                </li>

                <!-- <li class="left-menu"><a routerLink="/payment-history"><i class="icon">💳</i> Payment History</a></li> -->
                <li class="left-menu">
                    <a href="price" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">💳</i><span class="sidebar-text">Payment
                            History</span>
                    </a>
                </li>
                <!-- <li class="left-menu"><a routerLink="/help"><i class="icon">❓</i> Help</a></li> -->
                <li class="left-menu">
                    <a href="price" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">❓</i><span class="sidebar-text">Help</span>
                    </a>
                </li>

                <!-- <li class="left-menu"><a routerLink="/notifications"><i class="icon">🔔</i> Notification</a></li> -->
                <li class="left-menu">
                    <a href="price" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">🔔</i><span
                            class="sidebar-text">Notification</span>
                    </a>
                </li>


                <!-- <li class="left-menu"><a routerLink="/settings"><i class="icon">⚙️</i> Settings</a></li> -->
                <li class="left-menu">
                    <a href="price" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item">
                        <i class="ph ph-currency-circle-dollar mr-2">⚙️</i><span class="sidebar-text">Settings</span>
                    </a>
                </li>
                <!-- <li class="left-menu"><a routerLink="/logout"><i class="icon">🚪</i> Logout</a></li> -->
                <li class="left-menu">
                    <a routerLink="/" class="flex items-center px-4 py-2 rounded hover:bg-gray-700 sidebar-item"
                        (click)="userLogout()">
                        <i class="ph ph-currency-circle-dollar mr-2">🚪</i>
                        <span class="sidebar-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-section">
            <img src="profile.png" class="avatar" alt="User Avatar">
            <span class="username">{{userInfo.userName}}</span>
            <!-- <p class="role">Admin</p> -->
        </div>

    </aside>

    <main class="main-content">
        <h2>Dashboard</h2>

        <div class="info-cards">
            <div class="card">
                <label>User Id</label>
                <p>{{userInfo.userId}}</p>
            </div>
            <div class="card">
                <label>Plan Validity</label>
                <p>No Plan Select</p>
            </div>
            <div class="card">
                <label>Community Member</label>
                <p>No</p>
            </div>
        </div>

        <div class="social-links">
            <button class="yt">YouTube</button>
            <button class="wa">WhatsApp</button>
            <!-- <button class="tg">Telegram</button> -->
            <button class="tw">Twitter</button>
            <button class="fb">Facebook</button>
            <button class="ig">Instagram</button>
        </div>

        <div class="activities">
            <h3>Recent Activities</h3>
            <div class="activity">Use 30% off Coupon <strong>'NEW30'</strong>.</div>
            <div class="activity">New update publish 04/06/2025 03:15:00 AM.</div>
            <div class="activity">Use <strong>Free Live Option Chain</strong>.</div>
        </div>

        <div class="activities">
            <h3>NSE DATA</h3>
            <div class="action-buttons">
                <!-- <button [routerLink]="['/delta-option-chain']" class="blue">NIFTY</button> -->
                <button (click)="openInNewTab('/delta-option-chain')" class="blue">NIFTY</button>
                <button class="purple">BANKNIFTY</button>
                <button class="red">FINNIFTY</button>
                <button class="gray">MIDCPNIFTY</button>
            </div>
        </div>

        <div class="activities">
            <h3>CRYPTO DATA</h3>
            <div class="action-buttons">
                <!-- <button [routerLink]="['/delta-option-chain']" class="blue">BTC</button> -->
                <button (click)="openInNewTab('/delta-option-chain')" class="blue">BTC</button>
                
                <button class="purple">ETH</button>
                <!-- <button class="red">FINNIFTY</button>
                <button class="gray">MIDCPNIFTY</button> -->
            </div>
        </div>

        <div class="action-buttons">
            <button [routerLink]="['/delta-option-chain']" class="blue">Crypto Option Chain</button>
            <button class="purple">Nifty Option Chain</button>
            <button class="red">Goto Historical</button>
            <button class="gray">Sunday Live-Class</button>
            <button class="yellow">How to Use OPTION CHAIN</button>
            <button class="video">🎥 Video</button>
        </div>
    </main>
</div>