<<<<<<< HEAD
.logo{
    /* width: 158px; */
    margin-top: 9px;
    margin-left: 15px;
}
.symbol{
    color: white;
}
.expiry{
    margin-left: 25px; 
    color: white;
}
.expiry-text-box{
   
    margin-left: 125px;
    margin-top: -37px;
}
.right-col{
    margin-left: -24px;
}
=======
>>>>>>> parent of aa2a2c2 (added menu option)
