<div class="login-container">
  <div class="logo-section">
      <img src="pk-logo-1.png" alt="Crypto Option Chain Logo" class="logo" />
      <!-- <h1 class="title">Crypto Option Chain</h1> -->
    </div>
  <div class="login-box">
    <h2 class="login-heading">Sign Up</h2>
    <!-- <form > -->
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" [(ngModel)]="signUpModel.userName" placeholder="Enter fulle name" class="input-field" />
      </div>

      <div class="form-group">
        <label for="mobileNumber">Mobile</label>
        <input type="mobileNumber" id="mobileNumber" [(ngModel)]="signUpModel.mobileNumber" placeholder="Enter mobile number" class="input-field" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="signUpModel.email" placeholder="Enter email" class="input-field" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="signUpModel.password" placeholder="Enter password" class="input-field" />
      </div>

      <div class="form-group">
      <label for="country">Country</label>
      <select id="country"  class="input-field" [(ngModel)]="signUpModel.country">
        <option [ngValue]="null">Select country</option>
        <option>India</option>
        <option>USA</option>
        <option>UK</option>
        <option>Australia</option>
        </select>
      </div>
      <button type="submit" class="login-button" (click)="signUp()">Sign Up</button>

      <!-- <div class="text-center">
        <a href="#" class="link">Forgot Password?</a>
      </div> -->

      <div class="text-center signup">
        Already have an account?
        <a [routerLink]="['/login']" class="link">Login</a>
      </div>

      <button type="button" class="google-button">
        <img src="assets/google-icon.png" alt="Google Icon" class="google-icon" />
        Sign up with Google
      </button>
    <!-- </form> -->
  </div>
</div>